.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 6.5vh;
    border-bottom: 1px solid #ddd;
    font-family: 'Pretendard', sans-serif; /* Pretendard 폰트 사용 */
    box-shadow: 0px 4px 10px 0px rgba(140, 140, 140, 0.25);
}

.left-section {
    display: flex;
    align-items: center;
}

.left-section .logo{
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    cursor: pointer;
}

.header-title {
    font-size: 1.25rem;
    margin-right: 3rem;
    font-weight: 600;
    margin-left: 2px;
    margin-bottom: 8px;
    cursor: pointer; 
}

.nav-menu {
    display: flex;
    gap: 1.5rem;
    font-weight: 600;
}

.nav-menu span {
    cursor: pointer;
    font-size: 1rem;
    color: #333;
}

.nav-menu span:hover {
    text-decoration: underline;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section .search-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0.15rem 0.15rem;
    border-radius: 20px;
    margin-right: 1rem;
}

.right-section .search-icon {
    color: #767676;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.right-section .search-input {
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    color: #767676;
    width: 150px;
    padding: 0.5rem;
}

.google-login-button {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.google-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.google-login-button:hover {
    background-color: #357ae8;
}

.match-button, .post-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 20px; /* 둥근 버튼 */
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-button {
    margin-right: 25px;
}

.match-button:hover, .post-button:hover {
    background-color: #00CBD6;
    color: white;
}

.profile-wrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.profile-wrap .profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: auto;
    margin-right: 1rem;
}

.dropdown-menu {
    position: absolute;
    width: 5rem;
    top: 50px;
    right: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.dropdown-menu button {
    padding: 0.7rem 0.7rem;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
}