/* MainPage.css */

.main-page {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #F2F4F6;
}

.content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

