.posts-page {
    font-family: 'Pretendard', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-container {
    width: 100%;
    height: auto;
    background: #F2F4F6;
}

.current-partners-title {
    margin-left: 100px;
    font-size: 36px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 20px;
}

.current-partners-title.workers-title {
    text-align: right;
    margin-right: 200px;
}

.youtuber-section {
    height:900px;
    background-color: #F2F4F6;
    position: relative;
    z-index: 1;
}

.worker-section {
    height:800px;
    background-color: white;
    position: relative;
    margin-top: -50px;
    padding-top: 100px;
}

.youtuber-section::after,
.worker-section::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.youtuber-section::after {
    bottom: 0;
    height: 100px;
    background-color: white;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.worker-section::before {
    top: 0;
    height: 100px;
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}