Backend/editor-recruitment/src/main/resources/application.yml

Backend/editor-recruitment/src/test/resources/application-test.yml

Backend/editor-recruitment/out/

Backend/editor-recruitment/.idea/

Backend/editor-recruitment/.gradle/

Backend/editor-recruitment/gradle/wrapper/

Backend/editor-recruitment/build.gradle

Backend/editor-recruitment/.env

.env 
*.yml 
