# IDE 및 빌드 관련 파일
Backend/editor-recruitment/.idea/
Backend/editor-recruitment/.gradle/
Backend/editor-recruitment/out/
Backend/editor-recruitment/build/
bin/

# Gradle 관련 파일
Backend/editor-recruitment/gradle/wrapper/

# 환경 변수 및 민감 정보 파일
.env
Backend/editor-recruitment/.env

# Properties 파일
*.properties

